@import url('https://fonts.googleapis.com/css? family=Ubuntu:300,400,700&display=swap');


$border-radius-root: 8px;
$btn-letter-spacing: 0;
$btn-font-weight: 500;
$btn-text-transform: none;
$switch-width: 26px;
$data-table-border-radius: 0;
$tabs-bar-height: 32px;
$tabs-item-padding: 8px;
$tabs-item-letter-spacing: 0;
$select-dense-chip-margin: 4px;
$material-light: (
        'background': #00573f
);
